@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

* {
    color: #283655;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "League Spartan";
    background-color: #D0E1F9;
    margin-left: 5px;
    
}

.leftside {
    text-align: left;
}

.rightside {
    text-align: right;
}